In [294]:
import pandas as pd
import numpy as np
import datetime
from openpyxl import load_workbook

In [501]:
SEASON = 14
MATCHDAY = 20

In [502]:
mc = pd.read_excel('data/match_'+str(MATCHDAY)+'.xlsx')
mc.drop('№', axis=1, inplace=True)
mc.rename(columns={'index': 'Name'}, inplace=True)

In [503]:
mc.columns

Index(['Name', 'Итог', 'боруссия м – хоффенхайм', '5\n1', 'штутгарт – кёльн',
       '2\n1', 'локомотив – динамо', '3\n3', 'ахмат – крылья советов', '1\n0',
       'лидс – брайтон', '1\n1', 'эвертон – брентфорд', '2\n3',
       'краснодар – цска', '1\n0.1', 'атлетико – севилья', '1\n1.1',
       'вильярреал – реал сосьедад', '1\n2', 'ювентус – лацио', '2\n2'],
      dtype='object')

In [504]:
#Заголовки нулевой таблицы для создания ДБ ставок
zeros_col = ['Total Points', 'Game Points', 'Bomb Points', 'Exact Score', 'Right Margin', 'Right Result', 'Wrong Result', 'Uniques']

matches = pd.read_excel('output/season_'+str(SEASON)+'.xlsx', sheet_name='matches', index_col=0)
players = pd.read_excel('output/season_'+str(SEASON)+'.xlsx', sheet_name='players', index_col=0)
season = pd.read_excel('output/season_'+str(SEASON)+'.xlsx', sheet_name='season', index_col=0)
teams = pd.read_excel('output/season_'+str(SEASON)+'.xlsx', sheet_name='teams', index_col=0)

In [505]:
def proceed_bet(player_id, match_id):
    """
    proceed_bet(player_id, match_id)
    Сверяет ставки с результатом матча.
    player_id = Id участника
    match_id = Id матча
    """
    player_name = players['Name'].iloc[player_id]
    
    h_team = matches['Hometeam'].loc[match_id]
    a_team = matches['Awayteam'].loc[match_id]
    match = str(h_team)+' - '+str(a_team)
    
    
    try:
        hscore_true = matches['H_score'].loc[match_id]
        ascore_true = matches['A_score'].loc[match_id]

        hscore_bet = int(bets['bet_hscore_'+str(match_id)].loc[player_id])
        ascore_bet = int(bets['bet_ascore_'+str(match_id)].loc[player_id])
        
    except ValueError:
        print(player_name, 'made no bet on', match)
        bets['points_'+str(match_id)].loc[player_id] = 0
        return
    
    true_score= str(hscore_true)+':'+str(ascore_true)
    bet_score= str(hscore_bet)+':'+str(ascore_bet)
    
    points_granted = 0
    
    if (hscore_true == hscore_bet and ascore_true == ascore_bet):
        points_granted = 5
        matches['Exact Score'].loc[match_id] += 1
        season['Exact Score'].loc[player_id] += 1
        bets['Exact Score'].loc[player_id] += 1
    elif (hscore_true - ascore_true) == (hscore_bet - ascore_bet):
        points_granted = 3
        matches['Right Margin'].loc[match_id] += 1
        season['Right Margin'].loc[player_id] += 1
        bets['Right Margin'].loc[player_id] += 1
    elif ((hscore_true > ascore_true) and (hscore_bet > ascore_bet)) or ((hscore_true < ascore_true) and (hscore_bet < ascore_bet)):
        points_granted = 2
        matches['Right Result'].loc[match_id] += 1
        season['Right Result'].loc[player_id] += 1
        bets['Right Result'].loc[player_id] += 1
    else:
        matches['Wrong Result'].loc[match_id] += 1
        season['Wrong Result'].loc[player_id] += 1
        bets['Wrong Result'].loc[player_id] += 1
    matches['Bets'].loc[match_id] += 1
    season['Bets'].loc[player_id] += 1
    bets['points_'+str(match_id)].loc[player_id] = points_granted
    return

def count_total(player_id):
    """
    Считает суммарное число баллов, суммируя значения с bets 
    """
    total = 0
    for i in range(11, bets.shape[1], 3):
        total += bets.loc[player_id].iloc[i]
    bets['Game Points'].loc[player_id] = total
    season['Game Points'].loc[player_id] += total
    print(bets.iloc[player_id, 0], total)
    
def find_uniques(match_ids):
    h_score = str(matches['H_score'].loc[match_ids])
    a_score = str(matches['A_score'].loc[match_ids])
    player_id = bets[bets['bet_hscore_'+str(match_ids)] == h_score][bets['bet_ascore_'+str(match_ids)] == a_score].index[0]
    bets['Uniques'].loc[player_id] += 1
    season['Uniques'].loc[player_id] += 1
    matches['Uniques'].iloc[match_ids] += 1
    return player_id

def get_match_ids(season=SEASON, matchday=MATCHDAY):
    ids = matches[matches['Season'] == season][matches['Matchday'] == matchday].index
    return_list = ['Name', 'Total Points', 'Game Points', 'Bomb Points', 'Exact Score', 'Right Margin', 'Right Result', 'Wrong Result', 'Uniques']
    for i in ids:
        return_list.append('bet_hscore_'+str(i))
        return_list.append('bet_ascore_'+str(i))
        return_list.append('points_'+str(i))
    return return_list

In [506]:
for match, score in zip(mc.columns[2::2], mc.columns[3::2]):
    try:
        hometeam, awayteam = match.split(' – ')[0], match.split(' – ')[1]
    except IndexError:
        hometeam, awayteam = match.split(' \n ')[0], match.split(' \n ')[1]
    h_score, a_score = score.split('\n')[0], score.split('\n')[1][0]
      
    if matches[matches['Matchday'] == MATCHDAY][matches['Hometeam'] == hometeam][matches['Awayteam'] == awayteam].shape[0] > 0:
        print(f'{hometeam} - {awayteam} уже есть')
    else:
        matches = matches.append({'Hometeam': hometeam, 'Awayteam': awayteam,
                                  'H_score': int(h_score), 'A_score': int(a_score),
                                  'Season': SEASON, 'Matchday': MATCHDAY, 'Date': datetime.datetime.now(), 'Bets': 0,
                                  'Exact Score': 0, 'Right Margin': 0, 'Right Result': 0, 
                                  'Wrong Result': 0, 'Uniques': 0}, ignore_index=True)
    
bets_columns = get_match_ids(SEASON,MATCHDAY)
bets = pd.DataFrame(pd.concat([mc['Name'], pd.DataFrame(np.zeros((mc['Name'].shape[0],8)), columns=zeros_col)], axis=1), columns=bets_columns)  

#Очень тупо, я повторяю цикл, потому что между этими операциями ме надо добавить БД для ставок
for match, score in zip(mc.columns[2::2], mc.columns[3::2]):
    try:
        hometeam, awayteam = match.split(' – ')[0], match.split(' – ')[1]
    except IndexError:
        hometeam, awayteam = match.split(' \n ')[0], match.split(' \n ')[1]
    h_score, a_score = score.split('\n')[0], score.split('\n')[1][0]    
    match_id = matches[matches['Hometeam'] == hometeam][matches['Awayteam'] == awayteam].index[0]   
    
    bets['bet_hscore_'+str(match_id)] = mc[match].str.split(':').str[0]
    bets['bet_ascore_'+str(match_id)] = mc[match].str.split(':').str[1]

C:\Users\ANTON~1.SHE\AppData\Local\Temp/ipykernel_98736/1769600119.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if matches[matches['Matchday'] == MATCHDAY][matches['Hometeam'] == hometeam][matches['Awayteam'] == awayteam].shape[0] > 0:
C:\Users\ANTON~1.SHE\AppData\Local\Temp/ipykernel_98736/1769600119.py:27: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  match_id = matches[matches['Hometeam'] == hometeam][matches['Awayteam'] == awayteam].index[0]

In [507]:
for player in range(0,players['Name'].shape[0]):
    for match in matches[matches['Season']==SEASON][matches['Matchday']==MATCHDAY].index:
        proceed_bet(player,match)

c:\users\anton.shevchuk\appdata\local\programs\python\python39-32\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

Муратов Игорь made no bet on боруссия м - хоффенхайм
Муратов Игорь made no bet on штутгарт - кёльн
Муратов Игорь made no bet on локомотив - динамо
Муратов Игорь made no bet on ахмат - крылья советов
Муратов Игорь made no bet on лидс - брайтон
Муратов Игорь made no bet on эвертон - брентфорд
Муратов Игорь made no bet on краснодар - цска
Муратов Игорь made no bet on атлетико - севилья
Муратов Игорь made no bet on вильярреал - реал сосьедад
Муратов Игорь made no bet on ювентус - лацио
Шевчук Антон made no bet on боруссия м - хоффенхайм
Шевчук Антон made no bet on штутгарт - кёльн
Шевчук Антон made no bet on локомотив - динамо
Шевчук Антон made no bet on ахмат - крылья советов
Шевчук Антон made no bet on лидс - брайтон
Шевчук Антон made no bet on эвертон - брентфорд
Шевчук Антон made no bet on краснодар - цска
Шевчук Антон made no bet on атлетико - севилья
Шевчук Антон made no bet on вильярреал - реал сосьедад
Шевчук Антон made no bet on ювентус - лацио

In [292]:
mc

,Name,Итог,астон вилла – арсенал,0\n1,аданадемирспор – башакшехир,2\n1,ахмат \n локомотив,2\n3,нант – лилль,0\n1.1,...,вольфсбург – байер,0\n2,рома – лацио,3\n0,севилья – реал сосьедад,0\n0,марсель – ницца,2\n1.2,реал мадрид – барселона,0\n4
0,Алферов Ян,20,1:2,3,1:2,0,1:2,3,1:2,3,...,1:2,2,2:1,2,2:0,0,2:1,5,2:1,0
1,Гришин Антон,12,1:1,0,1:1,0,1:1,0,1:1,0,...,1:1,0,2:1,2,2:1,0,2:1,5,2:1,0
2,Данилов Евгений,8,1:2,3,0:2,0,1:0,0,0:1,5,...,1:0,0,1:2,0,0:1,0,1:1,0,2:1,0
3,Дробышев Артемий,8,0:2,2,1:3,0,1:3,2,1:0,0,...,0:3,2,1:0,2,2:1,0,0:0,0,1:1,0
4,Зубатов Михаил,9,NaN,0,NaN,0,NaN,0,NaN,0,...,2:1,0,2:1,2,2:1,0,2:1,5,1:2,2
5,Колодин Дмитрий,10,1:2,3,1:1,0,2:1,0,2:1,0,...,3:3,0,2:1,2,2:1,0,2:1,5,3:1,0
6,Конаков Никита,7,NaN,0,NaN,0,NaN,0,NaN,0,...,2:2,0,1:1,0,1:0,0,2:1,5,NaN,0
7,Котов Александр,14,2:3,3,0:1,0,1:0,0,2:1,0,...,0:1,2,1:0,2,2:1,0,1:0,3,1:2,2
8,Криеванс Владислав,15,1:3,2,0:2,0,1:2,3,0:2,2,...,2:2,0,2:1,2,2:0,0,1:0,3,2:1,0
9,Малевич Егор,20,1:2,3,0:3,0,1:1,0,1:1,0,...,1:3,3,1:0,2,2:1,0,2:1,5,1:2,2
10,Махмудов Руслан,18,1:2,3,1:1,0,1:2,3,2:2,0,...,1:1,0,2:1,2,1:0,0,2:1,5,2:2,0
11,Муратов Игорь,16,1:2,3,0:1,0,1:1,0,1:2,3,...,1:2,2,1:2,0,1:0,0,1:0,3,2:1,0
12,Невский Леонид,23,1:2,3,1:0,3,0:0,0,1:2,3,...,1:2,2,2:1,2,2:1,0,2:1,5,1:2,2
13,Сибиряков Георгий,15,1:1,0,1:2,0,1:1,0,1:2,3,...,1:2,2,1:1,0,2:1,0,2:1,5,1:1,0
14,Титаренко Антон,17,0:1,6,0:1,0,1:1,0,1:1,0,...,1:2,2,2:1,2,2:1,0,2:1,5,3:1,0
15,Фёдоров Владимир,18,2:1,0,2:1,6,2:1,0,2:1,0,...,2:1,0,2:1,2,2:1,0,2:1,5,2:1,0
16,Шевчук Антон,12,NaN,0,NaN,0,NaN,0,NaN,0,...,2:1,0,2:0,2,1:0,0,2:1,5,3:0,0

In [293]:
bets['Name']

0             Алферов Ян
1           Гришин Антон
2        Данилов Евгений
3       Дробышев Артемий
4         Зубатов Михаил
5        Колодин Дмитрий
6         Конаков Никита
7        Котов Александр
8     Криеванс Владислав
9           Малевич Егор
10       Махмудов Руслан
11         Муратов Игорь
12        Невский Леонид
13     Сибиряков Георгий
14       Титаренко Антон
15      Фёдоров Владимир
16          Шевчук Антон
Name: Name, dtype: object

In [22]:
def find_match_id(tour):
    return 11+(tour-1)*3

find_match_id(7)

29

In [509]:
bets.iloc[7,find_match_id(9)] = 7

In [510]:
for i in matches[matches['Season']==SEASON][matches['Matchday']==MATCHDAY][matches['Exact Score']==1].index:
    player_id = find_uniques(i)
    bets['points_'+str(i)].loc[player_id] += 1
    
for player in range(0,players['Name'].shape[0]):
    count_total(player)

Алферов Ян 0.0
Гришин Антон 18.0
Данилов Евгений 10.0
Дробышев Артемий 5.0
Зубатов Михаил 15.0
Колодин Дмитрий 10.0
Конаков Никита 12.0
Котов Александр 10.0
Криеванс Владислав 0.0
Малевич Егор 2.0
Махмудов Руслан 18.0
Муратов Игорь 0.0
Невский Леонид 10.0
Сибиряков Георгий 5.0
Титаренко Антон 21.0
Фёдоров Владимир 8.0
Шевчук Антон 0.0

C:\Users\ANTON~1.SHE\AppData\Local\Temp/ipykernel_98736/44280827.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  for i in matches[matches['Season']==SEASON][matches['Matchday']==MATCHDAY][matches['Exact Score']==1].index:
C:\Users\ANTON~1.SHE\AppData\Local\Temp/ipykernel_98736/3143780336.py:70: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  player_id = bets[bets['bet_hscore_'+str(match_ids)] == h_score][bets['bet_ascore_'+str(match_ids)] == a_score].index[0]

In [255]:
mc.iloc[7]

Name                              Котов Александр
Итог                                           18
фрайбург – вольфсбург                         NaN
3\n2                                            0
локомотив – цска                              1:2
1\n2                                            5
монпелье \n ницца                             1:2
0\n0                                            0
манчестер юнайтед \n тоттенхэм                1:2
3\n2.1                                          0
эвертон – вулверхэмптон                       1:2
0\n1                                            3
страсбур – монако                             0:1
1\n0                                            0
бетис – атлетик                               1:0
1\n0.1                                          5
аланьяспор – фенербахче                       1:2
2\n5                                            2
рубин – ростов                                2:1
1\n2.1                                          0
галатасарай – бешикташ                        1:0
2\n1                                            3
Name: 7, dtype: object

In [260]:
bets.iloc[]

Name             Котов Александр
Total Points                23.0
Game Points                 19.0
Bomb Points                  4.0
Exact Score                  2.0
Right Margin                 2.0
Right Result                 1.0
Wrong Result                 4.0
Uniques                      1.0
bet_hscore_86                NaN
bet_ascore_86                NaN
points_86                    0.0
bet_hscore_87                  1
bet_ascore_87                  2
points_87                    5.0
bet_hscore_88                  1
bet_ascore_88                  2
points_88                    0.0
bet_hscore_89                  1
bet_ascore_89                  2
points_89                    0.0
bet_hscore_90                  1
bet_ascore_90                  2
points_90                    3.0
bet_hscore_91                  0
bet_ascore_91                  1
points_91                    0.0
bet_hscore_92                  1
bet_ascore_92                  0
points_92                    6.0
bet_hscore_93                  1
bet_ascore_93                  2
points_93                    2.0
bet_hscore_94                  2
bet_ascore_94                  1
points_94                    0.0
bet_hscore_95                  1
bet_ascore_95                  0
points_95                    3.0
Name: 7, dtype: object

### Bombers

In [511]:
bombs = pd.read_excel('output/bombs_bets.xlsx', index_col=0, sheet_name=str(MATCHDAY))

In [512]:
# Сгрупировал таблицу в формате имя - очки и присвоил в новую переменную
bombs_points = bombs[bombs['Points']>0].groupby(['Name']).sum().sort_values(by=['Points'], ascending=False)

# Теперь итерируем по всей таблице bets. Если имя есть в bomb_points обновляем значение таблицы Bomb Points. 
# Важно вызывать через loc чтобы не вызывать копию, а работать напрямую с табилцей
print('Очки полученные за бомбардиров')
for row in np.arange(bets.shape[0]):
    try:
        bets.loc[row,'Bomb Points'] = bombs_points['Points'][bets.loc[row,'Name']]
        print(bets.loc[row,'Bomb Points'], bets.loc[row,'Name'])
    except KeyError:
        pass

Очки полученные за бомбардиров
2.0 Алферов Ян
4.0 Данилов Евгений
2.0 Дробышев Артемий
2.0 Зубатов Михаил
4.0 Колодин Дмитрий
2.0 Конаков Никита
6.0 Котов Александр
4.0 Криеванс Владислав
2.0 Малевич Егор
2.0 Невский Леонид
4.0 Сибиряков Георгий
2.0 Титаренко Антон
6.0 Фёдоров Владимир

In [513]:
bets['Total Points'] = bets['Game Points'] + bets['Bomb Points']

season['Bomb Points'] += bets['Bomb Points']
season['Total Points'] = season['Game Points'] + season['Bomb Points']

In [514]:
bets.sort_values(by=['Total Points'], ascending=False)[['Name','Total Points']]

                  Name  Total Points
14     Титаренко Антон          23.0
1         Гришин Антон          18.0
10     Махмудов Руслан          18.0
4       Зубатов Михаил          17.0
7      Котов Александр          16.0
2      Данилов Евгений          14.0
5      Колодин Дмитрий          14.0
6       Конаков Никита          14.0
15    Фёдоров Владимир          14.0
12      Невский Леонид          12.0
13   Сибиряков Георгий           9.0
3     Дробышев Артемий           7.0
8   Криеванс Владислав           4.0
9         Малевич Егор           4.0
0           Алферов Ян           2.0
11       Муратов Игорь           0.0
16        Шевчук Антон           0.0

In [515]:
season.sort_values(by=['Total Points'], ascending=False)[['Name','Total Points']]

                  Name  Total Points
12      Невский Леонид         383.0
13   Сибиряков Георгий         364.0
9         Малевич Егор         329.0
5      Колодин Дмитрий         323.0
7      Котов Александр         320.0
10     Махмудов Руслан         311.0
4       Зубатов Михаил         309.0
14     Титаренко Антон         305.0
15    Фёдоров Владимир         303.0
0           Алферов Ян         300.0
6       Конаков Никита         296.0
1         Гришин Антон         296.0
8   Криеванс Владислав         290.0
3     Дробышев Артемий         278.0
2      Данилов Евгений         276.0
16        Шевчук Антон         249.0
11       Муратов Игорь         232.0

In [516]:
for match_id in matches[matches['Season']==SEASON][matches['Matchday']==MATCHDAY].index:
    match = matches.iloc[match_id,:]
    hometeam, awayteam = match[0], match[1]
    m_s = matches.iloc[match_id,:]    #Match_series
    for team in [hometeam, awayteam]:
        # Какое говно)))))
        if team == m_s['Hometeam']:
            if m_s['H_score'] > m_s['A_score']:
                win, draw, loss = 1,0,0
            elif m_s['H_score'] < m_s['A_score']:
                win, draw, loss = 0,0,1
            else:
                win, draw, loss = 0,1,0
        elif team == m_s['Awayteam']:
            if m_s['H_score'] > m_s['A_score']:
                win, draw, loss = 0,0,1
            elif m_s['H_score'] < m_s['A_score']:
                win, draw, loss = 1,0,0
            else:
                win, draw, loss = 0,1,0
                      
        if team in teams['Team'].values:
            team_index = teams[teams['Team'] == team].index[0]
            teams.iloc[team_index,2] += 1
            teams.iloc[team_index,3] += win
            teams.iloc[team_index,4] += draw
            teams.iloc[team_index,5] += loss
            teams.iloc[team_index,6] += m_s['Bets']
            teams.iloc[team_index,7] += m_s['Exact Score']
            teams.iloc[team_index,8] += m_s['Right Margin']
            teams.iloc[team_index,9] += m_s['Right Result']
            teams.iloc[team_index,10] += m_s['Wrong Result']
            teams.iloc[team_index,11] += m_s['Uniques']
        else:
            teams = teams.append({'Team': team, 'Matches': 1, 'Wins': win, 'Draws': draw, 'Losses': loss,
                                 'Bets': m_s['Bets'], 'Exact Score': m_s['Exact Score'], 'Right Margin': m_s['Right Margin'], 
                                 'Right Result': m_s['Right Result'], 'Wrong Result': m_s['Wrong Result'], 
                                 'Uniques': m_s['Uniques']}, ignore_index=True)

In [282]:
teams

,Team,Country,Matches,Wins,Draws,Losses,Bets,Exact Score,Right Margin,Right Result,Wrong Result,Uniques
0,майнц,NaN,3,2,0,1,44,2,0,6,36,2
1,хоффенхайм,NaN,3,2,0,1,47,3,6,7,31,0
2,фенербахче,NaN,4,1,1,2,66,5,7,11,43,0
3,башакшехир,NaN,2,1,1,0,32,1,5,0,26,1
4,интер,NaN,4,1,1,2,65,7,4,5,49,0
...,...,...,...,...,...,...,...,...,...,...,...,...
90,базель,NaN,1,0,0,1,17,6,2,2,7,0
91,копенгаген,NaN,1,0,0,1,17,0,0,10,7,0
92,псв,NaN,1,1,0,0,17,0,0,10,7,0
93,ренн,NaN,1,1,0,0,17,6,2,3,6,0
94,ласк,NaN,1,1,0,0,17,0,3,0,14,0

In [517]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
book = load_workbook('output/bets.xlsx')
with pd.ExcelWriter('output/bets.xlsx', engine='openpyxl') as writer:
    writer.book = book

    # Write each dataframe to a different worksheet.
    bets.to_excel(writer, sheet_name=str(MATCHDAY))

    writer.save()

In [518]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
with pd.ExcelWriter(f'output/season_{str(SEASON)}.xlsx', engine='xlsxwriter') as writer:

    # Write each dataframe to a different worksheet.
    season.to_excel(writer, sheet_name='season')
    matches.to_excel(writer, sheet_name='matches')
    players.to_excel(writer, sheet_name='players')
    teams.to_excel(writer, sheet_name='teams')
    #scorers.to_excel(writer, sheet_name='scorers_18')

    writer.save()

c:\users\anton.shevchuk\appdata\local\programs\python\python39-32\lib\site-packages\xlsxwriter\workbook.py:338: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")